<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>События в университете</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="container">
    <header>
      <span class="title">События в университете</span>
      <button class="icon-btn" aria-label="Настройки">
        <img src="../static/img/img_avatar.png" alt="Настройки" width="22" height="22">
      </button>
    </header>
    <div class="search-wrap">
      <input type="search" placeholder="Название, тег или организация" class="search-input">
    </div>

    <div class="card">
        <img class="card-img" src="./image.png" alt="">
        <div class="card-content">
            <div class="card-text">
                <div class="card-title">It выезд с партнерами</div>
                <div class="card-meta">18 по 20 апреля</div>
                <div class="card-meta"> · </div>
                <div class="card-meta">Ступино</div>
                <div class="card-org">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png" alt="Студ ИУ">
                    <span>Студ ИУ</span>
                </div>
            </div>
            <div class="tags">
                <span class="tag">IT's tech</span>
                <span class="tag">Студсовет</span>
            </div>
        </div>
    </div>

    <div class="card">
        <img class="card-img" src="https://images.unsplash.com/photo-1551836022-4297d7b7b3e7?auto=format&fit=crop&w=800&q=80" alt="">
        <div class="card-content">
            <div class="card-text">
                <div class="card-title">Международная конференция «ЭРА IP» в Бауманке</div>
                <div class="card-meta">24 апреля · Конгресс-центр</div>
            </div>
            <div class="tags">
                <span class="tag">Инноватика</span>
                <span class="tag">Роспатент</span>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
