<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Писатели</title>
    <link rel="stylesheet" href="../static/writers.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Писатели</h1>
            <button class="icon-btn">
                <img src="../static/img/img_avatar.png" alt="Профиль" width="22" height="22">
            </button>
        </div>
        <div class="header">
            <button type="button" class="btn btn-primary">Добавить писателя</button>
        </div>
        <div class="writers-list">
            <div class="writer-card">
                <div class="writer-info">
                    <div class="writer-name">Панфилий Петрович</div>
                    <div class="writer-username">pan823pa</div>
                    <div class="writer-group">Студ ИУ</div>
                    <div class="registration-date">Зарегистрирован: 19.04.25</div>
                </div>
                <button type="button" class="btn btn-primary">Удалить</button>
            </div>
            <div class="writer-card">
                <div class="writer-info">
                    <div class="writer-name">Панфилий Петрович</div>
                    <div class="writer-username">pan823pa</div>
                    <div class="writer-group">Студ ИУ</div>
                    <div class="registration-date">Зарегистрирован: 19.04.25</div>
                </div>
                <button type="button" class="btn btn-primary">Удалить</button>
            </div>
            <div class="writer-card">
                <div class="writer-info">
                    <div class="writer-name">Панфилий Петрович</div>
                    <div class="writer-username">pan823pa</div>
                    <div class="writer-group">Студ ИУ</div>
                    <div class="registration-date">Зарегистрирован: 19.04.25</div>
                </div>
                <button type="button" class="btn btn-primary">Удалить</button>
            </div>
            <div class="writer-card">
                <div class="writer-info">
                    <div class="writer-name">Панфилий Петрович</div>
                    <div class="writer-username">pan823pa</div>
                    <div class="writer-group">Студ ИУ</div>
                    <div class="registration-date">Зарегистрирован: 19.04.25</div>
                </div>
                <button type="button" class="btn btn-primary">Удалить</button>
            </div>
            <div class="writer-card">
                <div class="writer-info">
                    <div class="writer-name">Панфилий Петрович</div>
                    <div class="writer-username">pan823pa</div>
                    <div class="writer-group">Студ ИУ</div>
                    <div class="registration-date">Зарегистрирован: 19.04.25</div>
                </div>
                <button type="button" class="btn btn-primary">Удалить</button>
            </div>
        </div>
        <div class="footer">
            <p>tech x sete · 2025</p>
        </div>
    </div>
</body>
</html>
