@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

:root {
    --main-bg: #fff;
    --main-text-color: #111;
    --secondary-text-color: #888;
    --input-bg: #EDEDED;
    --input-border-color: #ccc;
    --primary-button-bg: #3553ec;
    --primary-button-hover-bg: #2236a5;
    --white: #fff;
  
    --font-family:  'Manrope', sans-serif;
  
    --container-max-width: 400px;
  
    --h1-font-size: 1.5rem;
  
    --input-padding: 10px;
    --input-border-radius: 8px;
  
    --label-font-size: 0.9rem;
  
    --button-width: 213px;
    --button-height: 46px;
    --button-padding: 10px;
    --button-border-radius: 8px;
  
    --footer-font-size: 1rem;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: var(--main-bg);
    color: var(--main-text-color);
  }
  
  .container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 24px 12px 0 12px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
    margin-bottom: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  select,
  input {
    background-color: var(--input-bg);
    color: var(--secondary-text-color);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: 1px solid var(--input-border-color);
    font-size: 1rem;
    margin-bottom: 4px;
  }
  
  label {
    font-size: var(--label-font-size);
    color: var(--secondary-text-color);
    margin-bottom: 2px;
    margin-top: 4px;
  }
  
  button {
    margin-left: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  footer {
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: auto;
    padding: 32px 0 12px 0;
    font-size: var(--footer-font-size);
  }
  