@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    --bg-color: #fff;
    --text-color: #333;
    --primary-color: #4a7bff;
    --primary-color-hover: #3a64cc;
    --input-border-color: #ccc;
    --fill: #f0f0f0;
    --border-radius: 5px;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="url"],
textarea,
select {
    background-color: var(--fill);
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 1em;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: auto;
}


.form-group.date-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-group.date-group input {
    width: 50%;
}

.image-upload {
    position: relative;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 10px;
    text-align: left;
    cursor: pointer;
    background-color: var(--fill);
}

.image-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.image-upload span {
    display: inline-block;
    margin-right: 10px;
}

.image-upload svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
