<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/authorization.css">
</head>

<body>
    <div class="container">
        <h1>Авторизация</h1>
        <img src="../static/img/im_not_authorization.png" alt="Illustration"
            class="illustration">
        <p class="prompt">Хотите стать писателем?</p>
        <button class="login-button">Войти</button>
    </div>
</body>

</html>
