<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It выезд</title>
    <link rel="stylesheet" href="../static/style_item.css">
</head>
<body>
    <div class="container">
        <img src="../image.png" alt="ошибка" class="header-image">
        <div class="header">
            <h1>IT выезд</h1>
        </div>

        <div class="event-info">
            <h2>КРУТО</h2>
            <div class="date">
                <span>12</span>
            </div>
            <div class="location">
                <span>ступино</span>
            </div>
        </div>

        <div class="description">
            <p>бла бла бла</p>
        </div>

        <div class="buttons">
            <!-- <a href="<?php echo $event['telegram_link']; ?>">Студ ИУ в telegram</a>
            <a href="<?php echo $event['register_link']; ?>">Регистрация в боте</a> -->
            <a>Регистрация в боте</a>
        </div>

        <div class="footer">
            <p>у у у у</p>
        </div>
    </div>
</body>
</html>
