<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Профиль</title>
    <link rel="stylesheet" href="../static/profile.css">
</head>
<body>
    <div class="container">
        <h1>Профиль</h1>
        <img src="../static/img/img_avatar.png" alt="ошибка" class="profile-image">
        <div class="user-name">User</div>
        <div class="user-title">Писатель</div>
        <button class="logout-button">Выйти</button>
    </div>
</body>
</html>
