<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/sign.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="icon left">
            </div>
            <h1>Авторизация</h1>
            <div class="icon right">
            </div>
        </div>
        <div class="login-form">
            <div class="input-group">
                <img src="../static/img/icon_User.png" alt="Логин" class="input-icon">
                <input type="text" placeholder="Логин">
            </div>
            <div class="input-group">
                <img src="../static/img/icon_password.png" alt="Пароль" class="input-icon">
                <input type="password" placeholder="Пароль">
            </div>
            <button type="submit">Войти</button>
        </div>
    </div>
</body>
</html>
